<div class="mx-8 container" style="text-align: justify; font-weight:600;padding:2%">

    <div class="d-flex flex-row flex-wrap p-4" style="text-align: left;">
        <a href="/admin">&raquo; Admin</a>
    </div>

    <!-- Section: Add New User -->
    <section class="card">
        <div class="card-body">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: left;">
                        <h4 class="title_section">Users Administration</h4>
                    </td>
                    <td style="text-align: right;">
                        <a class="btn btn-primary" href="/admin/user/add">&raquo; Add New User</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <!-- Section: Add New User -->

    <!-- Section: Users Table -->
    <section class="card">
        <div class="card-body">
            <table id="usersTable" class="table table-striped table-bordered display responsive nowrap"
                style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{type}}</td>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{email}}</td>
                        <td>{{status}}</td>
                        <td>
                            <a href="/admin/user/edit/{{id}}"><i class="fas fa-edit"></i></a>
                            <a href="/admin/user/delete/{{id}}"><i class="fas fa-trash" style="color:red"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#usersTable').DataTable();
                });
            </script>
        </div>
    </section>
    <!-- Section: Users Table -->

</div>